* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid grey;
    background-color: grey;
    padding: 10px;
}

header > nav > ul {
    display: flex;
    justify-content: center;
}

header > nav > ul > li {
    list-style-type: none;
    padding: 0 10px;
}

header > nav > ul > li > a {
    font-weight: bold;
    color: black;
}

header > nav > ul > li > a:hover {
    text-decoration: none;
    color: white
}

main > h2, main > p {
    margin-top: 20px;
    text-align: center;
}

main > ul {
    padding-left: 30px;
}

